body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

fieldset div {
	margin: 10px 0;
}

label {
	width: 150px;
	display: inline-block;
}

a, a:hover {
	color: #333;
}

.error {
	color: red;
}

input.ng-invalid {
	border: 1px solid red;
}

input.ng-valid {
	border: 1px solid green;
}

input.ng-pristine {
	border: 1px solid gray;
}

input:focus {
    outline: none;
}